.demo-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 25px 50px;
    max-width: 500px;
    text-align: start;

    .demo-slider-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .demo-slider {
            width: 100%;
        }

        .demo-slider-value {
            font-weight: 500;
            font-size: 1rem;
            color: #03223C;
        }

        .demo-slider-input {
            width: 50px;
            height: 30px;
            background-color: lightgrey;
            border: unset;
        }

        .mat-mdc-form-field {
            width: 60px;
            height: 65px;
            background-color: unset;
        }
    }

    .demo-slider-label {
        font-weight: 500;
        font-size: .875rem;
        color: #03223C;
    }

    .demo-slider-helper-text {
        display: flex;
        font-weight: 400;
        font-size: .75rem;
        color: #8E9192;
    }
}