<div class="exx-theme">
  <section class="demo-section">
    <button mat-flat-button color="primary" class="small">Submit</button>
    <button mat-flat-button color="warn" class="medium">Submit</button>
    <button mat-flat-button color="accent" class="large">Submit</button>
  </section>
  <section class="demo-section">
    <button mat-flat-button color="primary" class="full">Submit</button>
  </section>
  <section class="demo-section">
    <button mat-stroked-button color="primary" class="small">Submit</button>
    <button mat-stroked-button color="warn" class="medium">Submit</button>
    <button mat-stroked-button color="accent" class="large">Submit</button>
  </section>
  <section class="demo-section">
    <button mat-flat-button color="primary" class="small">
      <mat-icon color="white">edit</mat-icon> 
      <span>Create</span>
    </button>
    <button mat-flat-button color="warn" class="medium">
      <mat-icon color="white">edit</mat-icon> 
      <span>Create</span>
    </button>
    <button mat-flat-button color="accent" class="large">
      <mat-icon color="white">edit</mat-icon> 
      <span>Create</span>
    </button>
  </section>
  <section class="demo-section">
    <exx-toned-button color="primary" class="small">Submit</exx-toned-button>
    <exx-toned-button color="warn" class="medium">Submit</exx-toned-button>
    <exx-toned-button color="accent" class="large">Submit</exx-toned-button>
  </section>
</div>
