<div class="exx-theme">
  <mat-chip-listbox aria-label="Fish selection">
  <mat-chip-option>One fish</mat-chip-option>
  <mat-chip-option>Two fish</mat-chip-option>
  <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
  <mat-chip-option color="warn">Warn fish</mat-chip-option>
  </mat-chip-listbox>
  </div>
  <div>
  <mat-chip-listbox aria-label="Dog selection">
    <mat-chip>
      <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
      Dog one
    </mat-chip>
    <mat-chip color="primary">
      <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
      Dog two
    </mat-chip>
    <mat-chip color="accent">
      <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
      Dog three
    </mat-chip>
  </mat-chip-listbox>
  </div>
